$body-bg: #f5f5f5;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$code-color: #333;
$code-bg: #e5e5e5;
$navbar-inverse-bg: #34495E;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
$navbar-inverse-toggle-border-color: $navbar-inverse-bg - 15;
$navbar-inverse-toggle-hover-bg: $navbar-inverse-bg - 15;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body > footer {
  background-color: $gray-lighter;
  color: $gray;
  min-height: 15rem;
  margin-top: 2rem;
  padding: 4rem 0;
}

body.public {
  margin-top: 2rem;
}

main {
  min-height: 80rem;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

textarea.markdown {
  font-family: $font-family-monospace;
}

.list-group-item {
  .explanation {
    @extend blockquote;
  }
}

.list-group-item.disabled,
.list-group-item-danger,
.list-group-item-info,
.list-group-item-success,
.list-group-item-warning {
  code {
    background-color: rgba(127, 127, 127, .2);
  }
  .explanation {
    border-color: inherit;
  }
}

.page-content {
  background: #fff;
  padding: 2rem 2rem 8rem;
}

@media (min-width: $screen-sm-min) {
  .page-content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.question-option {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 2em;
}

.submission-answer {
  margin-top: 6rem;
}

.submission-question {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 8rem;
  margin-top: 8rem;
  padding-bottom: 8rem;
}

.text-inherit,
.text-inherit:link,
.text-inherit:visited,
.text-inherit:hover,
.text-inherit:active,
.text-inherit:focus {
  color: inherit;
}
