$body-bg: #f5f5f5;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$code-color: #333;
$code-bg: #e5e5e5;
$navbar-inverse-bg: #34495E;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
$navbar-inverse-toggle-border-color: $navbar-inverse-bg - 15;
$navbar-inverse-toggle-hover-bg: $navbar-inverse-bg - 15;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

article > header {
  margin-bottom: 4rem;
}

body > footer {
  background-color: $gray-lighter;
  color: $gray;
  min-height: 15rem;
  margin-top: 2rem;
  padding: 4rem 0;
}

main {
  min-height: 80rem;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

textarea.markdown {
  font-family: $font-family-monospace;
}

.notifications {
  margin: 5rem 0 2rem;
}

.page-content {
  background: #fff;
  margin-top: 2rem;
  padding: 4rem 4rem 16rem;
}

.question-option {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 2em;
}
